<md-dialog ng-cloak width="500">
  <md-toolbar>
    <div class="md-toolbar-tools">
      Adding patient...
      <span flex></span>
       <md-button class="md-icon-button" ng-click="cancel()">
         <md-icon><i class="fa fa-close"></i></md-icon>
       </md-button>
    </div>
  </md-toolbar>
<md-dialog-content>

    <p class="md-headline">
        <md-input-container><label>First Name</label><input ng-model="patient.FirstName"></md-input-container>
        <md-input-container><label>Last Name </label><input ng-model="patient.LastName"></md-input-container>

    <md-input-container><label>CNP : </label><input ng-model= "patient.CNP" ></md-input-container>

    <md-input-container><label>Age : </label><input ng-model = "patient.Age"></md-input-container>
    <md-input-container><label>Address : </label><input ng-model = "patient.Address"></md-input-container>
    <md-input-container><label>Diagnosis : </label><input ng-model = "patient.Diagnosis"></md-input-container>
<br />
    <md-input-container flex><label>Bed</label>
      <md-select ng-model="patient.BedID">

        <md-option value="1">pat1</md-option>
             <md-option value="2">pat2</md-option>
</md-input-container>


  </md-dialog-content>

  <md-dialog-actions>
<!-- butoane -->
  </md-dialog-actions>

</md-dialog>
